.buttonDiv {
  position: relative;
  z-index: 2;
  width: fit-content;
}

.buttonDiv.playAgain {
  text-align: center;
}

.buttonDiv button {
  text-transform: uppercase;
  outline: none;
  border-radius: 8px;
  transition: background-color 0.4s ease, color 0.5s;
}

.buttonDiv.rules button {
  background: none;
  padding: 10px 30px;
  border: 2px solid rgba(255, 255, 255, 0.76);
  color: white;
}

.buttonDiv.rules.right button {
  transform: translateX(300%);
  animation: buttonSlideInRight 0.5s ease 0.8s forwards;
}

@keyframes buttonSlideInRight {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0%);
  }
}

.buttonDiv.rules.left button {
  transform: translateX(-300%);
  animation: buttonSlideInLeft 0.5s ease 0.8s forwards;
}

@keyframes buttonSlideInLeft {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0%);
  }
}

.buttonDiv.playAgain button {
  background: white;
  padding: 13px 48px;
  color: hsl(229, 25%, 31%);
  font-weight: 600;
}

.buttonDiv.rules button:hover {
  background-color: white;
  cursor: pointer;
  color: hsl(229, 25%, 31%);
}

.buttonDiv.playAgain button:hover {
  cursor: pointer;
  color: hsl(0, 55%, 52%);
}

@media (max-width: 600px) {
  .buttonDiv.rules button {
    font-size: 0.9rem;
    padding: 10px 30px;
  }

  .buttonDiv.playAgain button {
    font-size: 1rem;
    font-weight: normal;
    word-spacing: 4px;
    padding: 13px 60px;
  }
}

@media (max-width: 300px) {
  .buttonDiv.rules button {
    font-size: 0.9rem;
    padding: 10px 25px;
  }

  .buttonDiv.playAgain button {
    padding: 13px 50px;
  }
}
