.decision {
  padding: 60px 5%;
}

.decisionSection {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-self: center;
  gap: 6%;
  animation: showDecision 0.5s ease-in-out forwards;
}

@keyframes showDecision {
  from {
    transform: scale(0.1);
    rotate: 20deg;
  }
  to {
    transform: scale(1);
    rotate: 0deg;
  }
}

.decisionSection .pickedOptions {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 45px;
}

.decisionSection .pickedOptions p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

.decisionSection .pickedOptions.winner .radialBg {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 45px hsla(214, 17%, 34%, 0),
    0 0 0 100px hsla(213, 16%, 44%, 0), 0 0 0 160px hsla(214, 47%, 23%, 0);
  animation: showRadial 1s ease 0.3s infinite forwards;
}

@keyframes showRadial {
  0% {
    box-shadow: 0 0 0 0px hsla(214, 17%, 34%, 0);
  }
  34% {
    box-shadow: 0 0 0 45px hsla(214, 17%, 34%, 0.2),
      0 0 0 0px hsla(213, 16%, 44%, 0);
  }
  67% {
    box-shadow: 0 0 0 45px hsla(214, 17%, 34%, 0.2),
      0 0 0 100px hsla(213, 16%, 44%, 0.1), 0 0 0 0px hsla(214, 47%, 23%, 0);
  }
  100% {
    box-shadow: 0 0 0 45px hsla(214, 17%, 34%, 0.2),
      0 0 0 100px hsla(213, 16%, 44%, 0.1),
      0 0 0 160px hsla(214, 47%, 23%, 0.205);
  }
}

.decisionSection .playAgainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.decisionSection .playAgainDiv h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.decisionSection .playAgainDiv {
  margin: auto;
}

@media (max-width: 1024px) {
  .decisionSection {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .decisionSection {
    width: 90%;
    margin: 0;
    justify-content: space-between;
    justify-self: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto;
    column-gap: 30px;
    row-gap: 80px;
  }

  @keyframes showDecision {
    from {
      transform: scale(0.1);
    }
    to {
      transform: scale(1);
    }
  }

  .decisionSection .pickedOptions.winner .radialBg {
    box-shadow: 0 0 0 25px hsla(214, 17%, 34%, 0),
      0 0 0 60px hsla(213, 16%, 44%, 0),
      0 0 0 100px hsla(214, 47%, 23%, 0);
  }

  @keyframes showRadial {
    0% {
      box-shadow: 0 0 0 0px hsla(214, 17%, 34%, 0);
    }
    34% {
      box-shadow: 0 0 0 25px hsla(214, 17%, 34%, 0.2),
        0 0 0 0px hsla(213, 16%, 44%, 0);
    }
    67% {
      box-shadow: 0 0 0 25px hsla(214, 17%, 34%, 0.2),
        0 0 0 60px hsla(213, 16%, 44%, 0.1), 0 0 0 0px hsla(214, 47%, 23%, 0);
    }
    100% {
      box-shadow: 0 0 0 25px hsla(214, 17%, 34%, 0.2),
        0 0 0 60px hsla(213, 16%, 44%, 0.1),
        0 0 0 100px hsla(214, 47%, 23%, 0.205);
    }
  }

  .decisionSection .playAgainDiv {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

@media (max-width: 600px) {
  .decisionSection {
    column-gap: 15px;
    width: 80%;
  }

  .decision {
    padding: 90px 0 50px;
  }

  .decisionSection .pickedOptions {
    flex-direction: column;
    gap: 35px;
  }

  .decisionSection .pickedOptions p {
    font-size: 0.9rem;
    letter-spacing: 1.6px;
  }

  .decisionSection .playAgainDiv h1 {
    font-size: 3.5rem;
  }

  .decisionSection .pickedOptions.winner .radialBg {
    width: 114px;
    height: 114px;
    box-shadow: 0 0 0 18px hsla(214, 17%, 34%, 0),
      0 0 0 45px hsla(213, 16%, 44%, 0), 0 0 0 75px hsla(214, 47%, 23%, 0);
  }

  @keyframes showRadial {
    0% {
      box-shadow: 0 0 0 0px hsla(214, 17%, 34%, 0);
    }
    34% {
      box-shadow: 0 0 0 18px hsla(214, 17%, 34%, 0.2),
        0 0 0 0px hsla(213, 16%, 44%, 0);
    }
    67% {
      box-shadow: 0 0 0 18px hsla(214, 17%, 34%, 0.2),
        0 0 0 45px hsla(213, 16%, 44%, 0.1), 0 0 0 0px hsla(214, 47%, 23%, 0);
    }
    100% {
      box-shadow: 0 0 0 18px hsla(214, 17%, 34%, 0.2),
        0 0 0 45px hsla(213, 16%, 44%, 0.1),
        0 0 0 75px hsla(214, 47%, 23%, 0.205);
    }
  }
}

@media (max-width: 500px) {
  .decisionSection {
    width: 100%;
    column-gap: 3px;
  }
}

@media (max-width: 330px) {
  .decisionSection .pickedOptions p {
    font-size: 0.75rem;
  }

  .decisionSection .pickedOptions.winner .radialBg {
    width: 100px;
    height: 100px;
  }
}
