.handSigns {
  border-radius: 50%;
  transition: box-shadow 0.4s;
  position: relative;
  z-index: 2;
}

.handSigns:hover {
  cursor: pointer;
}

.handSigns.original {
  width: 120px;
  height: 120px;
  position: absolute;
  border: 15px solid;
}

.handSigns.bonus {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 13px solid;
}

.handSigns.steps {
  width: 150px;
  height: 150px;
  border: 25px solid;
}

.handSigns.steps img {
  height: 80px;
}

.handSigns.bonus img {
  height: 50px;
}

.handSigns.original.rock,
.handSigns.steps.rock {
  border-color: hsl(349, 70%, 56%);
  box-shadow: 0px 6px hsla(349, 71%, 52%, 0.637);
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.handSigns.bonus.rock {
  border-color: hsl(349, 70%, 56%);
  box-shadow: 0px 5px hsla(349, 71%, 52%, 0.637);
  right: 25px;
  bottom: 0px;
}

.handSigns.original.rock:hover,
.handSigns.steps.rock:hover,
.handSigns.bonus.rock:hover {
  box-shadow: 6px 6px hsla(349, 71%, 52%, 0.637);
}

.handSigns.original.paper,
.handSigns.steps.paper {
  border-color: hsl(230, 89%, 65%);
  box-shadow: 0px 6px hsla(230, 89%, 62%, 0.637);
  top: 0;
  left: 0;
}

.handSigns.bonus.paper {
  border-color: hsl(230, 89%, 65%);
  box-shadow: 0px 5px hsla(230, 89%, 62%, 0.637);
  right: -20px;
  transform: translateY(95%);
}

.handSigns.original.paper:hover,
.handSigns.steps.paper:hover,
.handSigns.bonus.paper:hover {
  box-shadow: 6px 6px hsla(230, 89%, 62%, 0.637);
}

.handSigns.original.scissors,
.handSigns.steps.scissors {
  border-color: hsl(40, 84%, 53%);
  box-shadow: 0px 6px hsla(39, 89%, 49%, 0.637);
  margin: auto;
  top: 0;
  right: 0;
}

.handSigns.bonus.scissors {
  border-color: hsl(40, 84%, 53%);
  box-shadow: 0px 5px hsla(39, 89%, 49%, 0.637);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

.handSigns.original.scissors:hover,
.handSigns.steps.scissors:hover,
.handSigns.bonus.scissors:hover {
  box-shadow: 6px 6px hsla(39, 89%, 49%, 0.637);
}

.handSigns.steps.lizard {
  border-color: hsl(278, 77%, 59%);
  box-shadow: 0px 5px hsla(278, 73%, 47%, 0.637);
  right: 0;
  bottom: 0;
}

.handSigns.bonus.lizard {
  border-color: hsl(278, 77%, 59%);
  box-shadow: 0px 5px hsla(278, 73%, 47%, 0.637);
  margin: auto;
  left: 25px;
  bottom: 0px;
}

.handSigns.bonus.lizard:hover {
  box-shadow: 5px 5px hsla(278, 73%, 47%, 0.637);
}

.handSigns.steps.spock {
  border-color: rgb(120, 203, 206);
  box-shadow: 0px 5px rgba(64, 224, 208, 0.637);
  right: 0;
  bottom: 0;
}

.handSigns.bonus.spock {
  border-color: rgb(120, 203, 206);
  box-shadow: 0px 5px rgba(64, 224, 208, 0.637);
  margin: auto;
  left: -20px;
  transform: translateY(95%);
}

.handSigns.bonus.spock:hover {
  box-shadow: 5px 5px rgba(64, 224, 208, 0.637);
}

.handSigns .innerBg {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 232, 232);
  box-shadow: inset 0px 6px rgb(202, 202, 202);
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.handSigns .innerBg div {
  text-align: center;
}

.handSigns.noImg,
.handSigns.noImg.rock,
.handSigns.noImg.paper,
.handSigns.noImg.scissors {
  border-color: transparent;
  box-shadow: none;
}

.handSigns.noImg:hover,
.handSigns.noImg.rock:hover,
.handSigns.noImg.paper:hover,
.handSigns.noImg.scissors:hover {
  box-shadow: none;
}

.handSigns.noImg .innerBg,
.handSigns.noImg.rock .innerBg,
.handSigns.noImg.paper .innerBg,
.handSigns.noImg.scissors .innerBg {
  background-color: hsla(238, 48%, 15%, 0.45);
  box-shadow: none;
}

.handSigns.steps.noImg img {
  display: none;
}

@media (max-width: 600px) {
  .handSigns.original {
    width: 80px;
    height: 80px;
    border: 10px solid;
  }

  .handSigns.bonus {
    width: 70px;
    height: 70px;
    border: 10px solid;
  }

  .handSigns.bonus.rock {
    right: 25px;
    bottom: -50px;
  }

  .handSigns.bonus.paper {
    right: 0px;
    transform: translateY(80%);
  }

  .handSigns.bonus.lizard {
    left: 25px;
    bottom: -50px;
  }

  .handSigns.bonus.spock {
    left: 0px;
    transform: translateY(80%);
  }

  .handSigns.bonus img {
    height: 35px;
  }

  .handSigns.original img {
    height: 40px;
  }

  .handSigns.steps {
    width: 90px;
    height: 90px;
    border: 12px solid;
  }

  .handSigns.steps img {
    height: 42px;
  }

  .handSigns.noImg {
    border-color: transparent;
  }
}

@media (max-width: 330px) {
  .handSigns.steps {
    width: 80px;
    height: 80px;
    border: 10px solid;
  }

  .handSigns.noImg {
    border-color: transparent;
  }

  .handSigns.steps img {
    height: 40px;
  }
}
